.navbar-back {
  background-color: white;
}

.navbar_link {
  color: black;
}

.navbar_link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  color: black;
}

.navbar_logo {
  color: black;
}
.navbar_logo:hover {
  color: black;
}

/* Links */

.login_link {
  color: black;
}

.login_link:hover {
  color: black;
}

.log {
  padding: 30px;
  box-shadow: 0px 0px 5px 0px;
  border-radius: 10px;
  background-color: white;
}

/* Buttons */

.btn_bckg {
  background-color: white !important;
}

.btn_log {
  background-color: #3399ff !important;
}

.text-white {
  color: white;
}

.black_white {
  color: white;
  background: black;
}

.text-black {
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.general-link {
  color: black;
}

.general-link:hover {
  color: black;
  text-decoration: none;
}

.opacity {
  opacity: 0.5;
}

.guest_link {
  color: #3399ff;
}

.guest_link:hover {
  color: #003366;
  text-decoration: none;
}

.wh {
  height: 18rem !important;
  object-fit: cover;
}
